/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #000;
  background-color: rgb(255 254 242);
  font-family: 'tex_gyre_adventorregular', Arial, sans-serif;
}

h1 {
  font-family: 'uppereastsideregular', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 4em;
}

h2 {
  font-family: 'uppereastsideregular', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 3em;
}

h3 {
  font-family: 'uppereastsideregular', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2em;
}

.dimpsey {
  font-family: 'uppereastsideregular', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2em;
}

.main-mobile {
  margin-top: 39px;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

a {
    color: #fe9417;
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    color: #fe9417;
    text-decoration: underline;
}

main.terms {
  margin-top:  20px;
}

hr {
  color: #fe9417;
  height:  2px !important;
}

/* AGE VERIFICATION POPUP
-------------------------------------------------- */

.show-modal {
  display: block;
  background-color: rgba(97, 97, 97, 0.7);
}

.modal-backdrop {
  opacity: 0.75 !important;
}

.modal-dialog {
  max-width: 700px;
}

.modal-content {
  border: none;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 5rem;
  background-color: rgb(255 254 242);
  text-align: center;
}

.modal-body img {
  width: 300px;
}

.modal-body h3 {
  color: #000;
}

.btn {
  border-radius: 0 !important;
  color: #000;
  border: 2px solid #f5ae20 !important;
  padding: .5rem 3rem !important;
}

.btn:hover {
  background: #f5ae20;
  color:  #000;
  padding: .5rem 3rem !important;
}

.nav-link {
  margin:  0.8rem;
}

.navbar a:hover {
    text-decoration: none !important;
}

.navbar-brand {
  margin-right: 0rem;
}

.btn-more {
  margin: 0 auto;
}

@media (max-width:768px) {
  .mobile-margin-bottom{
    margin-bottom:.5rem;
  }

}

/* MARKETING CONTENT
-------------------------------------------------- */

/*.animated-illustration img {*/
/*  display: block;*/
/*  margin: 0 auto;*/
/*}*/

.animated-illustration {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
h1.centered {
  font-size: 7em;
  color: #000;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p.centered {
  font-size: 2em;
  color: #000;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

/* HIDE RADIO */
.thumbnails [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
/*[type=radio]:checked + img {*/
/*  outline: 2px solid #f00;*/
/*}*/

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */

.marketing a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

img.thumbnail {
  height: 150px;
}

.original {
  position: relative;
}

.original, .gurt-blush {
  text-align: center;
}

.seven-hundred-ml-image {
  display: block;
  margin: auto;
  position: relative;
}

.taste-of-the-west-gold {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 80px;
  right: 190px;
}

.taste-of-the-west-gold-product-page {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 90px;
  right: 190px;
}

.taste-of-the-west-gold-product-page.gurt-blush {
  top: 90px;
  right: 510px;
}

.youMayAlsoLike {
  text-align: center;
  position: relative;
}

img.main {
  height: 600px;
}

.thumbnails, .main-image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: center;
}

.thumbnail:last-child {
  margin-top: 20px;
}

.description, .contact-image, .main-image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.distillery-image img {
  display: block;
  margin: auto;
  height: 240px;
}

/* Center align Shopify buy button */

.shopify-buy-buttons {
  text-align: center;
}

.social-media-icons img {
  width: 50px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
}

#map {
  height: 500px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.more-info-button {
  margin:  20px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media only screen and (max-width: 768px) {
  .thumbnails {
    display: none;
  }

  .description, .contact-image {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 40px;
  }

  .volume-selection-buy-buttons {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .taste-of-the-west-gold {
    height: 60px;
    width:  60px;
    right:  100px;
  }
}
